*{
    /* font-family: 'Noto Sans JP', sans-serif; */
    font-family: 'Monda', sans-serif;
    margin: 0;
    padding: 0;
}
header{
    grid-area: cabecalho;
}

main{
    grid-area: conteudo-principal;
}

aside{
    grid-area: conteudo-secundario;
}

body{
    display: grid;
    max-height: 100vh;
    max-width: 900px;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 8fr;
    grid-template-areas:
        'conteudo-secundario cabecalho'
        'conteudo-secundario conteudo-principal'
}

header{
    /* azul claro */
    background-color: #78a1bb;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

header .info-basico {
    margin-top: 0;
    margin-left: 10px;
}

header .info-basico p {
    margin: 10px 0px;
    padding: 0;
}

header .info-basico p:nth-child(1){
    margin-top: 0;
    font-size: 2.5em;
    font-weight: 100;
}

header .info-basico p:nth-child(2){
    margin-top: 0;
    font-weight: bold;
}

header .info-basico p:nth-child(3){
    margin-top: 0;
    font-size: 0.9em;
    font-weight: 100;
    font-style: italic;
}

main {
    margin-top: 20px;
    margin-left: 20px;
}

main section {
    margin-top: 20px;
}

main h2{
    color:#78a1bb;
    font-weight: bold;
    font-size: 1.5em;
    margin: 20px 0px;
}

.topico-titulo h3{
    font-size: 1.0em;
    font-weight: bolder;
    margin: 10px 0px;
}

.topico-titulo h4{
    font-size: 0.9em;
    font-weight: 100;
    margin: 10px 0px;
    font-style: italic;
    color: #2f2f3a;
}

main ul{
    list-style-position: inside;
    list-style-type: disc;
}

main ul li{
    font-size: 1.0em;
}

aside{
    background-color: #2f2f3a;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

aside section{
    box-sizing: border-box;
    padding: 30px;
}

aside section h2{
    font-size: 1.0em;
    text-align: center;
    color: #78a1bb;
    font-weight: 1000;
    margin-bottom: 10px;
}

aside section p, aside li{
    color: #eff9f2;
    font-size: 0.9em;
    font-weight: lighter;
}

aside section ul{
    list-style-position: inside;
    list-style-type: disc;
}

aside section .contato {
    text-align: center;
    font-size: 0.85em;
}
.foto {

}

.foto img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    object-position: center;
}